body {
	background-color: #F1F1F1;
	font-size: 13px;
}

button.btn-floating {
	position: fixed;
	bottom: 45px;
	right: 25px;
}

.center-padre {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;

	background-image: url('http://127.0.0.1/Plataforma-Virtual/application/assets/fondo.jpg') !important;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.bg {
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	background-attachment: fixed;
}

.tbg {
	background-color: rgba(0,0,0,.7);
	color: white;
	width: 620px;
	padding: 30px 10px;
	margin: auto;
}

i.fas.prefix {
	font-size: 21px !important;
}


table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
	cursor: pointer;
	*cursor: hand;
	background-repeat: no-repeat;
	background-position: center right;
}
table.dataTable thead .sorting {
	background-image: url("sort_both.png");
}
table.dataTable thead .sorting_asc {
	background-image: url("sort_asc.png");
}
table.dataTable thead .sorting_desc {
	background-image: url("sort_desc.png");
}
table.dataTable thead .sorting_asc_disabled {
	background-image: url("sort_asc_disabled.png");
}
table.dataTable thead .sorting_desc_disabled {
	background-image: url("sort_desc_disabled.png");
}

.dataTables_wrapper .dataTables_filter {
	float: right;
	text-align: right;
}
.dataTables_wrapper .dataTables_filter input {
	margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_paginate {
	float: right;
	text-align: right;
	padding-top: 0.25em;
}